{
	admin off
}

localhost:8443 {
	tls internal

	encode gzip

	handle /socket.io/* {
		reverse_proxy backend:3000
	}

	handle /api/v1/* {
		reverse_proxy backend:3000 {
			flush_interval -1
		}
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
